body {
	margin: 0;
	overflow: hidden;
}

main {
	width: 100%;
	height: 100%;
}

#image_container {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.images {
	display: block;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Loader */
#loader {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: progress;
}

/* QR Code */
#qr_code {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#qr_code button {
	width: 400px;
}

#qr_code button:hover {
	background-color: #078823;
	color: white;
}

#qr_code button:active {
	background-color: #045516;
	color: white;
}

/* Consent Form */
#consent_form_container {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

#consent_form {
	width: 55%;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 5px 30px 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#consent_form h2 {
	text-align: center;
	font-size: 2em;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	margin-bottom: 13px;
}

#consent_form p {
	margin-top: 13px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#consent_button_group {
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* Buttons */
.button_group {
	position: absolute;
	display: flex;
	gap: 10px;
	right: 8px;
	bottom: 13px;
}

.button {
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.2s;
	border-radius: 7px;
}

.button:hover {
	cursor: pointer;
}

.button:active {
	cursor: pointer;
}

.grey_button {
	background-color: #555555;
	color: white;
}

.grey_button:hover {
	background-color: #3b3b3b;
}

.grey_button:active {
	background-color: #292929;
}

.green_button {
	background-color: #006a17;
	color: white;
}

.green_button:hover {
	background-color: #00460f;
}

.green_button:active {
	background-color: #00380d;
}

.red_button {
	background-color: #d4372c;
	color: white;
}

.red_button:hover {
	background-color: #b82b21;
}

.red_button:active {
	background-color: #861a12;
}

.blue_button {
	background-color: #008cba;
	color: white;
}

.blue_button:hover {
	background-color: #01749b;
}

.blue_button:active {
	background-color: #005d7c;
}
